ion-list-header {
    font-size: large;
    font-weight: bold;
}
ion-content {
    font-family: 'Varela Round', sans-serif;
    // background-color: #ede7df !important;    
}
.igrac-ime {
    font-weight: bold;
}