ion-content{
    font-family: 'Varela Round', sans-serif;
    
}

.pogodi-rijec {
    font-size: 48px;
}

.tim {
    padding-left: 5px;
}

.vrijeme {
    font-size: 36px;
}

.content {
    align-items: center;
    text-align: center;
}
.igrac-ime {
    font-weight: bold !important;
}