.center {
    margin: auto;
    text-align: center;
    font-size: 25px;
    height: 100%;
    padding: 70px 0;
}

// .button {
//     border-radius: 5px;
//     border: 1px solid #dbd3ca;
//     padding: 5px 25px 5px 25px;
//     background-color: #f5ede4;
//     transition-duration: 0.1s;
//     outline: none;
// }

// .button:active {
//     background-color: #E6E6E6;
//     transition-duration: 0.1s;
// }

// ion-col {
//     margin-top: 15px;
// }

h2 {
    margin-top: 0;
    padding-top: 10px;
    margin-bottom: 125px;
}

ion-content {
    font-family: 'Varela Round', sans-serif;
    
}
