<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">{{'HOME.title' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="center">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button size="large" color="success" [routerLink]="['/igra/']">{{'HOME.newGame' | translate}}</ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button color="medium" [routerLink]="['/postavke/']">{{'HOME.settings' | translate}}</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  
  </div>
</ion-content>

